<launch>
  <arg name="paused" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="debug" default="0"/>
  <arg name="namespace" default="bottle"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/GRMI_pool.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="verbose" value="true" />
  </include>


  <!-- ### BOTTLE ###  -->
  <!-- send bootle urdf to param server -->
  <param name="$(arg namespace)_description"  command="$(find xacro)/xacro --inorder '$(find grmi_worlds)/objects/$(arg namespace).urdf.xacro' debug:=$(arg debug) namespace:=$(arg namespace)" />

  <!-- push bottle_description to factory and spawn robot in gazebo -->
  <node name="spawn_$(arg namespace)" pkg="uuv_descriptions" type="spawn_model" respawn="false" output="screen"
  args="-urdf -y -0.50 -z -1  -model $(arg namespace) -param $(arg namespace)_description"/>


  <include file="$(find uuv_assistants)/launch/publish_world_ned_frame.launch"/>

</launch>
